body {
    font-family: Arial, sans-serif;
    /*background-color: #49a1cd;*/
    margin: 0;
    padding: 0;
}

.cuadrado{
    width: 60vh;
    height: 20vh;
    margin-top: 10vh;
    margin-left: 10vh;
    display: inline-table;
}

.cuadrado2{
    width: 92vh;
    height: 20vh;
    margin-top: 10vh;
    margin-left: 10vh;
    display: inline-table;
}